@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes void-animation-out {
    0%,to {
        opacity: 1
    }
}

* {
    box-sizing: border-box
}

blockquote,body,button,dd,dl,figure,h1,h2,h3,h4,h5,h6,ol,p,pre,ul {
    margin: 0;
    padding: 0
}

ol,ul {
    list-style: none
}

a {
    text-decoration: none
}

button,select {
    border: 0;
    outline: 0;
    background: 0 0;
    font-family: inherit
}

a,button,input,select,textarea {
    -webkit-tap-highlight-color: transparent
}

:root {
    overflow-x: hidden;
    height: 100%
}

body {
    background: #fafafa;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    justify-content: center;
    flex-direction: column;
    font-size: 9pt;
    font-family: Open Sans,Segoe UI,sans-serif;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "pnum";
    font-variant-numeric: proportional-nums;
    overflow-x: hidden;
    background-color: #fafafa
}

.container,.container-fluid,.container-lg,.container-wide,.container-xl {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%
}

main {
    position: relative;
    display: block;
    z-index: 1
}

.container-lg,.container-lg .cell {
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.container-lg {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center
}

.container-lg .cell {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex: auto;
    flex: auto;
    min-width: 100%;
}

.container-lg .cell+.cell {
    margin-top: 70px
}

.container-lg .form-container {
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #fafafa
}

.container-lg .form-container.submitted form,.container-lg .form-container.submitting form {
    opacity: 0;
    transform: scale(.9);
    pointer-events: none;
    height: 400px
}

.container-lg .form-container.submitted .success,.container-lg .form-container.submitting .success {
    pointer-events: all
}

.container-lg .form-container.submitting .success .icon {
    opacity: 1
}

.container-lg .form-container.submitted .success>* {
    opacity: 1;
    transform: none!important
}

.container-lg .form-container.submitted .success>:nth-child(2) {
    transition-delay: .1s
}

.container-lg .form-container.submitted .success>:nth-child(3) {
    transition-delay: .2s
}

.container-lg .form-container.submitted .success .icon .border,.container-lg .form-container.submitted .success .icon .checkmark {
    opacity: 1;
    stroke-dashoffset: 0!important
}

.container-lg .form-container form {
    position: relative;
    width: 100%;
    max-width: 500px;
    transition-property: opacity,transform;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(.165,.84,.44,1)
}

.container-lg .form-container form input::-webkit-input-placeholder {
    opacity: 1
}

.container-lg .form-container form input::-moz-placeholder {
    opacity: 1
}

.container-lg .form-container form input:-ms-input-placeholder {
    opacity: 1
}

.container-lg .form-container .error,.container-lg .form-container .success {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0
}

.container-lg .form-container .error {
    top: 100%;
    margin-top: 20px;
    font-size: 13px!important;
    opacity: 0;
    transform: translateY(10px);
    transition-property: opacity,transform;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(.165,.84,.44,1)
}

.container-lg .form-container .error.visible {
    opacity: 1;
    transform: none
}

.container-lg .form-container .error .message,.container-lg .form-container .success .message span {
    font-size: inherit
}

.container-lg .form-container .error svg {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: -1px;
    margin-right: 10px
}

.container-lg .form-container .success {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    top: 0;
    text-align: center;
    pointer-events: none;
    overflow: hidden
}

.container-lg .form-container .success>* {
    transition-property: opacity,transform;
    transition-duration: .35s;
    transition-timing-function: cubic-bezier(.165,.84,.44,1);
    opacity: 0;
    transform: translateY(50px)
}

.container-lg .form-container .success .icon {
    margin: 15px 0 30px;
    transform: translateY(70px) scale(.75)
}

.container-lg .form-container .success .icon svg {
    will-change: transform
}

.container-lg .form-container .success .icon .border {
    stroke-dasharray: 251;
    stroke-dashoffset: 62.75;
    transform-origin: 50% 50%;
    transition: stroke-dashoffset .35s cubic-bezier(.165,.84,.44,1);
    animation: spin 1s linear infinite
}

.container-lg .form-container .success .icon .checkmark {
    stroke-dasharray: 60;
    stroke-dashoffset: 60;
    transition: stroke-dashoffset .35s cubic-bezier(.165,.84,.44,1) .35s
}

.container-lg .form-container .success .title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px
}

.container-lg .form-container .success .message {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 1.6em
}

.form-container {
    background-color: #fafafa
}

.form-container * {
    font-family: Open Sans,Segoe UI,sans-serif;
    font-size: 9pt
}

.container-lg .form-container h1 {
    font-weight: 700;
    font-size: 1.2em;
    margin: 0 15px 6px
}

.form-container .descriptionText {
    margin: 0 15px 6px;
    display: none
}

.form-container .descriptionText.visible {
    display: block
}

.form-container fieldset {
    margin: 0 15px 20px;
    padding: 0;
    border-style: none;
    background-image: linear-gradient(#f7f7f7,#fcfcfc);
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 2.5px
}

.form-container .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.form-container .row+.row {
    border-top: 1px solid rgba(20,20,20,.08)
}

.form-container .row #card-mount,.form-container label {
    margin-left: 15px
}

.form-container label {
    width: 15%;
    min-width: 70px;
    padding: 11px 0;
    color: #abacae;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.form-container button,.form-container input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border-style: none
}

.form-container input:-webkit-autofill {
    -webkit-text-fill-color: #fce883;
    transition: background-color 100000000s;
    -webkit-animation: 1ms void-animation-out
}

.form-container .StripeElement--webkit-autofill {
    background: 0 0!important
}

.form-container .StripeElement,.form-container input {
    width: 100%;
    padding: 11px 15px 11px 0
}

.form-container input {
    color: #333;
    background-color: transparent;
    -webkit-animation: 1ms void-animation-out
}

.form-container input::-webkit-input-placeholder {
    color: #abacae
}

.form-container input::-moz-placeholder {
    color: #abacae
}

.form-container input:-ms-input-placeholder {
    color: #abacae
}

.container-lg .form-container .button-container {
    display: flex;
    justify-content: flex-end;
}

.container-lg .form-container button {
    display: block;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 15px 0 0;
    background-image: linear-gradient(#42abff,#0f94ff);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05),inset 0 1px 0 0 rgba(255,255,255,.25),inset 0 -1px 0 0 rgba(255,255,255,.1),0 1px 0 0 rgba(255,255,255,.15);
    border-radius: 2.5px;
    border: 1px solid rgba(0,0,0,.3);
    color: #fff;
    cursor: pointer
}

.form-container .error svg .base {
    fill: #c6262e
}

.form-container .error svg .glyph {
    fill: #fff
}

.form-container .error .message {
    color: #c6262e
}

.form-container .success .icon .border {
    stroke: #87bbfd
}

.form-container .success .icon .checkmark {
    stroke: #68b723
}

.form-container .success .title {
    color: #333
}

.form-container .success .message {
    color: #9cdbff
}
